<!DOCTYPE html>
<html lang="en">
    <head></head>

    <body>
        <ul>
            <% @articles.each do |article| %>
            <li><%= article.title %></li>
            <% end %>
        </ul>
    </body>
</html>