<!DOCTYPE html>
<html lang="en">
    <head></head>

    <body>
        <form action="/articles" method="POST">
            <p>Article title: <input type="text" name="title" /></p>
            <p>Article content: <input type="text" name="content" /></p>
            <input type="submit" id="submit" />
        </form>
    </body>
</html>